﻿#swagger-ui {
    max-width: 640px;
    margin: auto;
}

div.topbar {
    background-color: #34a65f !important;
}

h2,
h3 {
    color: #f5624d !important;
}

.opblock-summary-get > button > span.opblock-summary-method {
    background-color: #235e6f !important;
}

.opblock-summary-post > button > span.opblock-summary-method {
    background-color: #0f8a5f !important;
}

.opblock-summary-delete > button > span.opblock-summary-method {
    background-color: #cc231e !important;
}